.productsToDelete {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  color: #333;
}

.name {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
}

.ingredients,
.price {
  font-size: 1.6rem;
}

.price {
  margin-bottom: 1.2rem;
}
