.adminContent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--main-light-color);
  padding: 3.2rem 3.2rem 8rem 3.2rem;
  align-items: flex-start;
}

/* BELOW 704px */
@media (max-width: 44em) {
  .adminContent {
    grid-template-columns: 1fr;
    min-height: 100vh;
    position: relative;
    padding: 19rem 0 0 0;
  }
}
