.footer {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 8rem 6.4rem;
  align-items: start;
  justify-content: space-between;
  gap: 3.2rem;
}

.footer h3 {
  margin-bottom: 1.2rem;
}

/* BELOW 1136px */
@media (max-width: 71em) {
  .footer {
    grid-template-columns: 1fr 2fr;
    row-gap: 6.4rem;
  }
}

/* BELOW 544px */
@media (max-width: 34em) {
  .footer {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}
