.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.loading::after {
  content: "";
  width: 5.2rem;
  height: 5.2rem;
  border: 10px solid #ddd;
  border-top-color: var(--main-color);
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
