.userCredentials {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2.4rem;
  width: 100%;
}

.userCred {
  display: flex;
  gap: 5.2rem;
  width: 50%;
}

.userCred > p {
  color: #777;
  width: 20%;
}

.userCred > div {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.userCred a:link,
.userCred a:visited {
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 0.4rem;
}

.userCurrentCredential {
  color: #333;
}

/* BELOW 1472px */
@media (max-width: 92em) {
  .userCred {
    width: 80%;
  }

  .userCred > div {
    width: 100%;
  }
}

/* BELOW 704px */
@media (max-width: 44em) {
  .userCredentials {
    align-items: center;
  }

  .userCred {
    flex-direction: column;
    gap: 0.4rem;
  }
}
