extends baseEmail

block content
  p Twoje zamówienie id:(#{data.orderId}) zostalo opłacone i przekazane do realizacji. 
  

  p Jeśli potrzebujesz pomocy, nie zastanawiaj się, skontaktuj się z nami!.
  p - Krzysztof Zięba, Szef restauracji