.orderPriorityStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.datePicker {
  display: flex;
  font-size: 2.4rem;
  align-items: center;
  color: #777;
  border-bottom: 1px solid #777;
}

.optionBtns {
  display: flex;
  margin-bottom: 6.4rem;
  gap: 3.2rem;
}

.selectDate {
  display: flex;
  justify-content: space-between;
  width: 40rem;
}

/* BELOW 720px */
@media (max-width: 45em) {
  .optionBtns {
    flex-direction: column;
    align-items: center;
  }
}
